# Kompilerte binærfiler
main
*.out

# Genererte filer fra eksempler
cpp/raii/*.txt
cpp/raii/*.log
rust/src/raii/*.txt
rust/src/raii/*.log

# Debug-symboler (macOS)
*.dSYM/


# Added by cargo
/rust/target

# mdBook output
/book

# IntelliJ IDEA
.idea
