# Kompilerte binærfiler
main
*.out

# Genererte filer fra eksempler
logg.txt
eksempel.log

# Debug-symboler (macOS)
*.dSYM/


# Added by cargo
/rust/target

# mdBook output
/book

# IntelliJ IDEA
.idea
